*{
  box-sizing: border-box;
  margin: 0;
  padding: 0 ;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #0f0f0f;
  font-size: 14px;
}

.img-thumb {
  width: 380px;
}

.img-canal {
  width: 36px;
}

/* .paragrafo-teste {
  background-color: red;
  padding: 16px 32px 2px;
  margin: 16px 32px 2px;
  width: 300px;
  border: 3px solid blue;
} */

.caixa-textos{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.caixa-titulo {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.caixa-texto {
  color: #606060;
}

.caixa-texto a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.img-thumb{
  border-radius: 12px;
}

.img-canal {
  border-radius: 50%;
}

.caixa-infos {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.caixa-videos{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.caixa-video {
  width: 380px;
}

.caixa-aovivo {
  display: flex;
  gap: 5px;
  background-color: #cc0000e6;
  padding: 1px 3px;
  color: white;
  fill: white;
  border-radius: 3px;
  width: max-content;
  font-size: 14px;
  text-transform: uppercase ;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categorias {
  /* display: flex; */
  gap: 8px;
  margin-bottom: 40px;
}

.categoria {
  font-size: inherit;
  font-family: inherit;
  border-radius: 8px;
  padding: 7px 12px;
  border: none;
  background-color: #0000000d;
  cursor: pointer;
}

.categoria.selecionado {
 background-color: #0f0f0f;
  color: white;
}

/* pedding - espaçamento interno | margin - espaçamento externo */
